---
lang: en
title: ''
firstname: Tim
lastname: Felgentreff
photo: public/images/picture.png
contact: http://contact.yoursite.com
homepage: https://www.timfelgentreff.de
email: tim.felgentreff@hpi.de
mobile: ''
phone: ''
fax: ''
address:
  city: Karl-Marx-Str 58, 14482 Potsdam, 
  country: Germany
settings:
  protect-email: false
  protect-mobile: true
  protect-phone: true
  protect-fax: true
footer: |
  - [timfelgentreff](http://twitter.com/timfelgentreff)
  - [timfel](https://github.com/timfel)
  - [timfelgentreff](https://www.linkedin.com/in/timfelgentreff)
  - [Download CV as PDF](/cv.pdf)
  <div id="imprint">
    <h2>Imprint</h2><br>
    Tim Felgentreff<br>
    Karl-Marx-Str. 58, 14482 Potsdam, Germany<br>
    +49-177-3381-411<br>
    timfelgentreff@gmail.com<br><br>
    <h2>Legal information and data privacy</h2>
    The information on this web page is manually updated by me. Despite the
    utmost care taken, I cannot rule out that some of the data may since have
    become outdated. Therefore, I cannot accept liability for the currency,
    accuracy, and completeness of the information displayed. The same applies to
    all other web pages that can be reached via hyperlinks. I am not responsible
    for the content of websites which can be reached via such
    links. Furthermore, I reserve the right to make changes or additions to the
    information displayed.<br>
    I store absolutely no information about users accessing this website. However,
    the website is hosted on Github pages, so Github gets information about your
    requests. Please refer to <a href="https://help.github.com/articles/github-privacy-statement/">
    their privacy statement</a> for more information.<br>
    This website utilizes JavaScript to enhance its usability. JavaScript code
    used does not save any personal data. If JavaScript is disabled in the
    browser, some of this site's functionality will not work as intended or at
    all.
  </div>
nocite: |
<%= bibtex.entries.values.sort_by(&:year).reverse.inject("") { |acc, e| "#{acc}  - @#{e.key}\n" } %>
---
  
Profile
=======

I am a member of the Truffle/Graal team at Oracle Labs. I was led
here by my interests in programming languages and virtual machine
design, and my involvement with the PyPy/RPython project and various
other dynamic language VMs. My work revolves around dynamic language
interoperability, connecting them with native C code in a safe manner,
and providing cross-language tool support. I also continue to
collaborate with the Hasso Plattner Institute at the University of
Potsdam. I run 10km in less than 50 minutes.

Education
---------

2012-2017
:    **Dr.rer-nat.**, *Hasso Plattner Institute, University of Potsdam*, Potsdam, Germany \
     grade: summa cum laude \
     advisor: Robert Hirschfeld, Hasso Plattner Institute, University of Potsdam \
     additional reviewers: \
     Wolfgang de Meuter, Vrije Universiteit Brussel \
     Alan Kay, Viewpoints Research Institute

     In my thesis I presented Babelsberg, a formal design with multiple implementations
     for object-constraint programming to integrate constraint declaration
     and continuous satisfaction with mutable object-oriented structures and
     behavior.

    Doctoral Thesis
      ~ [The Design and Implementation of Object-Constraint Programming](public/uni/Felgentreff_2015_Babelsberg.pdf)

2010-2012
:    **M.Sc.**, *Hasso Plattner Institute, University of Potsdam*, Potsdam, Germany \
     final grade: 1.0 (A+)

     During my master's studies, I focused on programming language
     concepts to facilitate development tools, end-user programming,
     modularity, and meta-circularity especially in distributed and
     parallel programming settings.

    Master's Thesis
      ~ [Comparison, Replay, and Refinement of Communication Traces for Debugging Distributed Failures](public/uni/12FelgentreffThesis.pdf)

2007-2010
:    **B.Sc.**, *Hasso Plattner Institute, University of Potsdam*, Potsdam, Germany \
     final grade: 1.4 (A)

    Bachelor's Thesis
      ~ [Post-mortem Analysis of Debug Traces](public/uni/10AspectToolsOrchideo.pdf)

2005-2007
:    **Abitur**, *Pückler Grammar School*, Cottbus, Germany \
     final grade: 1.0 (A+)

2004-2005
:    **AS-level studies**, *Budehaven Community College*, Bude, England

2000-2004
:    **GCSE-level studies**, *Heinrich-Heine Grammar School*, Cottbus, Germany


Experience
----------

July 2017-present
:    **Senior Software Engineer**, *Oracle Labs Germany*, Potsdam, Germany \

     At Oracle Labs I am a member of the Truffle/Graal group working on
     virtual machine technology for dynamic languages.


Apr 2016-June 2017
:    **Research Assistant**, *Hasso Plattner Institute, University of Potsdam*, Potsdam, Germany \

     My research focused on novel programming paradigms, virtual machines for
     dynamic programming languages, and end-user programming with a special
     interest in computer science education for children.


Oct 2012-Apr 2016
:    **Ph.D. Student**, *Hasso Plattner Institute, University of Potsdam*, Potsdam, Germany \

     My Ph.D. research focused on object-constraint programming, a
     novel approach at combining constraint solvers with dynamic,
     object-oriented languages in a clean and powerful way.


Oct 2014-Dez 2014
:    **Research Visit**, *Nanjing University*, Nanjing, China \

     At Nanjing University I collaborated with researchers on
     emotion analysis in Twitter-like social networks.


Feb 2010-Oct 2012
:    **Working Student**, *Finn GmbH*, Berlin, Germany \

     At Finn GmbH I was involved in plugin development for Redmine.


Oct 2009-Oct 2012
:    **Working Student**, *Hasso Plattner Institute*, Potsdam, Germany \

     I was a tutor at the Software Architecture Group, assisting the
     staff with undergraduate lectures on software engineering and
     software development methodologies, using Squeak/Smalltalk as the
     educational language.


Aug 2011-Nov 2011
:    **Intern**, *VMware*, Beaverton, OR, USA \

     At VMware I was working on the MagLev Ruby VM built on top of the
     distributed GemStone/S Smalltalk object database
     system.


May 2010-Aug 2010
:    **Ruby Summer of Code Participant** \

     As part of the 2010 Ruby Summer of Code, I built out prototype
     work by Wayne Meissner to add support for Ruby C extensions to JRuby.


Skills
------

&nbsp;
:    

    Languages
	  ~ German - native proficiency
	  ~ English - full professional proficiency
	  ~ French - limited working proficiency
	  ~ Mandarin - rudimentary knowledge
	  ~ &nbsp;

    Software Projects
	  ~ [Babelsberg](https://github.com/babelsberg) - a family of object-constraint languages 
	  ~ [RSqueakVM](https://github.com/HPI-SWA-Lab/RSqueak) - a research Squeak/Smalltalk VM written in RPython

    Core Contributions
	  ~ [Squeak](http://squeak.org) - a modern implementation of Smalltalk-80
	  ~ [JRuby](https://github.com/jruby) - an industry-grade Ruby implementation on the JVM
	  ~ [Topaz](https://github.com/topazproject) - an experimental Ruby implementation written in RPython 
	  ~ [MagLev](https://github.com/maglev) - a Ruby implementation on top of the GemStone/S object-database
	  ~ [PyPy](https://bitbucket.org/pypy) - a fast Python implementation with a tracing just-in-time compiler
	  ~ [Lively Kernel](https://github.com/LivelyKernel) - a self-supporting development environment on a Web page
	  ~ [Stratagus](https://github.com/Wargus) - a real-time 2d strategy game engine


Publications
------------

> The documents provided here are included by me as contributing author as a
> means to ensure access to the work for personal, non-commercial use.  They are
> not for redistribution. These are the author versions of the papers, the
> definitive versions are published in the relevant proceedings. Copyright and
> all rights therein are maintained by the authors or by other copyright
> holders, notwithstanding that they have offered their works here
> electronically. It is understood that all persons copying this information
> will adhere to the terms and constraints invoked by each author's
> copyright. These works may not be reposted without the explicit permission of
> the copyright holder.

&nbsp;
