---
lang: en
title: ''
firstname: Tim
lastname: Felgentreff
photo: public/images/picture.png
contact: http://contact.yoursite.com
homepage: https://www.timfelgentreff.de
email: timfelgentreff@gmail.com
mobile: ''
phone: ''
fax: ''
address:
  city: Straße zum Löwen 3, 14109 Berlin
  country: Germany
settings:
  protect-email: false
  protect-mobile: true
  protect-phone: true
  protect-fax: true
footer: |
  - [timfelgentreff](http://twitter.com/timfelgentreff)
  - [timfel](https://github.com/timfel)
  - [timfelgentreff](https://www.linkedin.com/in/timfelgentreff)
  - [Download CV as PDF](/cv.pdf)
  <div id="imprint">
    <h2>Imprint</h2><br>
    Tim Felgentreff<br>
    Straße zum Löwen 3, 14109 Berlin, Germany<br>
    +49-177-3381-411<br>
    timfelgentreff@gmail.com<br><br>
    <h2>Legal information and data privacy</h2>
    The information on this web page is manually updated by me. Despite the
    utmost care taken, I cannot rule out that some of the data may since have
    become outdated. Therefore, I cannot accept liability for the currency,
    accuracy, and completeness of the information displayed. The same applies to
    all other web pages that can be reached via hyperlinks. I am not responsible
    for the content of websites which can be reached via such
    links. Furthermore, I reserve the right to make changes or additions to the
    information displayed.<br>
    I store absolutely no information about users accessing this website. However,
    the website is hosted on Github pages, so Github gets information about your
    requests. Please refer to <a href="https://help.github.com/articles/github-privacy-statement/">
    their privacy statement</a> for more information.<br>
    This website utilizes JavaScript to enhance its usability. JavaScript code
    used does not save any personal data. If JavaScript is disabled in the
    browser, some of this site's functionality will not work as intended or at
    all.
  </div>
nocite: |
<%= bibtex.entries.values.sort_by(&:year).reverse.inject("") { |acc, e| "#{acc}  - @#{e.key}\n" } %>
---
  
Profile
=======

I am a member of the Truffle/Graal team at Oracle Labs. I was led here by my
interests in programming languages and virtual machine design, and my
involvement with the PyPy/RPython project and various other dynamic language
VMs. My work revolves around dynamic language interoperability, connecting them
with native C code in a safe manner, and providing cross-language tool
support. I also continue to collaborate with the Hasso Plattner Institute at the
University of Potsdam on tools and environments for dynamic languagues and
polyglot programming. I run 10km in less than 50 minutes.

Education
---------

2012-2017
:    **Dr.rer-nat.**, *Hasso Plattner Institute, University of Potsdam*, Potsdam, Germany \
     grade: summa cum laude \
     advisor: Robert Hirschfeld, Hasso Plattner Institute, University of Potsdam \
     additional reviewers: \
     Wolfgang de Meuter, Vrije Universiteit Brussel \
     Alan Kay, Viewpoints Research Institute

     In my thesis I presented Babelsberg, a formal design with multiple implementations
     for object-constraint programming to integrate constraint declaration
     and continuous satisfaction with mutable object-oriented structures and
     behavior.

    Doctoral Thesis
      ~ [The Design and Implementation of Object-Constraint Programming](public/uni/Felgentreff_2015_Babelsberg.pdf)

2010-2012
:    **M.Sc.**, *Hasso Plattner Institute, University of Potsdam*, Potsdam, Germany \
     final grade: 1.0 (A+)

     During my master's studies, I focused on programming language
     concepts to facilitate development tools, end-user programming,
     modularity, and meta-circularity especially in distributed and
     parallel programming settings.

    Master's Thesis
      ~ [Comparison, Replay, and Refinement of Communication Traces for Debugging Distributed Failures](public/uni/12FelgentreffThesis.pdf)

2007-2010
:    **B.Sc.**, *Hasso Plattner Institute, University of Potsdam*, Potsdam, Germany \
     final grade: 1.4 (A)

    Bachelor's Thesis
      ~ [Post-mortem Analysis of Debug Traces](public/uni/10AspectToolsOrchideo.pdf)

2005-2007
:    **Abitur**, *Pückler Grammar School*, Cottbus, Germany \
     final grade: 1.0 (A+)

2004-2005
:    **AS-level studies**, *Budehaven Community College*, Bude, England

2000-2004
:    **GCSE-level studies**, *Heinrich-Heine Grammar School*, Cottbus, Germany


Experience
----------

July 2017-present
:    **Senior Software Engineer**, *Oracle Labs Germany*, Potsdam, Germany \

     At Oracle Labs I am a member of the Truffle/Graal group working on virtual
     machine technology for dynamic languages. I am the team lead for the
     high-performance Python implementation on GraalVM. I am also the initiator
     for multiple research collaborations with the Hasso Plattner Institute on
     tools and environments for polyglot programming and with the University of
     Cape Town on native extension APIs for managed programming runtimes.


Apr 2016-June 2017
:    **Research Assistant**, *Hasso Plattner Institute, University of Potsdam*, Potsdam, Germany \

     My research focused on novel programming paradigms, virtual machines for
     dynamic programming languages, and end-user programming with a special
     interest in computer science education for children.


Oct 2012-Apr 2016
:    **Ph.D. Student**, *Hasso Plattner Institute, University of Potsdam*, Potsdam, Germany \

     My Ph.D. research focused on object-constraint programming, a
     novel approach at combining constraint solvers with dynamic,
     object-oriented languages in a clean and powerful way.


Oct 2014-Dez 2014
:    **Research Visit**, *Nanjing University*, Nanjing, China \

     At Nanjing University I collaborated with researchers on
     emotion analysis in Twitter-like social networks.


Feb 2010-Oct 2012
:    **Working Student**, *Finn GmbH*, Berlin, Germany \

     At Finn GmbH I was involved in plugin development for Redmine.


Oct 2009-Oct 2012
:    **Working Student**, *Hasso Plattner Institute*, Potsdam, Germany \

     I was a tutor at the Software Architecture Group, assisting the
     staff with undergraduate lectures on software engineering and
     software development methodologies, using Squeak/Smalltalk as the
     educational language.


Aug 2011-Nov 2011
:    **Intern**, *VMware*, Beaverton, OR, USA \

     At VMware I was working on the MagLev Ruby VM built on top of the
     distributed GemStone/S Smalltalk object database
     system.


May 2010-Aug 2010
:    **Ruby Summer of Code Participant** \

     As part of the 2010 Ruby Summer of Code, I built out prototype
     work by Wayne Meissner to add support for Ruby C extensions to JRuby.


Teaching
--------

Summer term 2019
:    Virtuelle Ausführungsumgebungen _Prof. Dr. Robert Hirschfeld, Tobias Pape, Fabio Niephaus, Dr. Tim Felgentreff (ext)_

Summer term 2018
:    Master's Thesis: Daniel Stople - Graal-LSP: A Language Server Implementation with Polyglot Support for the GraalVM _Prof. Dr. Robert Hirschfeld, Dr. Tim Felgentreff (ext)_

Summer term 2017
:    Master's Thesis: Fabio Niephaus - Squimera: A live, Smalltalk-based IDE forscripting languages _Prof. Dr. Robert Hirschfeld, Dr. Tim Felgentreff_
:    Master's Thesis: Bastian Kruck - Crossing Abstraction Barriers WhenDebugging Code TransformationsLive Debugging With Compilers _Prof. Dr. Robert Hirschfeld, Dr. Tim Felgentreff_
:    Softwaretechnik I _Prof. Dr. Robert Hirschfeld, Dr. Jens Lincke, Tobias Pape, Patrick Rein, Marcel Taeumel, Toni Mattis, Stefan Ramson, Dr. Tim Felgentreff_

Winter term 2016/17
:    Softwarearchitektur _Prof. Dr. Robert Hirschfeld, Tobias Pape, Marcel Taeumel, Patrick Rein, Dr. Jens Lincke, Dr. Michael Perscheid, Tim Felgentreff, Stefan Ramson_
:    Live Programming Systems _Prof. Dr. Robert Hirschfeld, Stefan Ramson, Tim Felgentreff, Patrick Rein_
:    Software Design _Prof. Dr. Robert Hirschfeld, Dr. Jens Lincke, Stefan Ramson, Tim Felgentreff_
:    Virtual Machines and Execution Environments _Prof. Dr. Robert Hirschfeld, Tobias Pape, Tim Felgentreff_
:    openHPI Online Course: "Zusammenhänge entdecken, Phänomene verstehen: Programmieren mit Etoys" _Tim Felgentreff_

Summer term 2016
:    Softwaretechnik I _Prof. Dr. Robert Hirschfeld, Tobias Pape, Patrick Rein, Marcel Taeumel, Dr. Jens Lincke, Stefan Ramson, Toni Mattis, Tim Felgentreff, Dr. Michael Perscheid_
:    End-user Programming _Prof. Dr. Robert Hirschfeld, Tim Felgentreff, Patrick Rein, Marcel Taeumel_
:    Web-based Development Environments _Prof. Dr. Robert Hirschfeld, Dr. Jens Lincke, Stefan Ramson, Patrick Rein, Tim Felgentreff_

Winter term 2015/16
:    Bachelor's Project: Improving Hosted Continuous Integration Services _Prof. Dr. Robert Hirschfeld, Tim Felgentreff, Dr. Jens Lincke_
:    Master's Project: Spur to go faster: Low-level Functionality in a High-Level Language _Prof. Dr. Robert Hirschfeld, Tim Felgentreff, Tobias Pape, Marcel Taeumel_
:    Einführung in die Programmiertechnik I _Prof. Dr. Robert Hirschfeld, Tobias Pape, Toni Mattis, Tim Felgentreff, Marcel Taeumel, Dr. Jens Lincke, Stefan Ramson_
:    Softwarearchitektur _Prof. Dr. Robert Hirschfeld, Tobias Pape, Marcel Taeumel, Patrick Rein, Dr. Jens Lincke, Tim Felgentreff, Dr. Michael Perscheid, Stefan Ramson_
:    Programmiersprachen: Konzepte, Werkzeuge und Umgebungen _Prof. Dr. Robert Hirschfeld, Patrick Rein, Tim Felgentreff, Marcel Taeumel, Toni Mattis_
:    Software Design _Prof. Dr. Robert Hirschfeld, Dr. Jens Lincke, Tim Felgentreff, Stefan Ramson_

Summer term 2015
:    Constraint-basierte Programmierung _Prof. Dr. Robert Hirschfeld, Tim Felgentreff, Jens Lincke_
:    Master's Thesis: Stefan Lehmann - Scoping Constraints and Reactive BehaviorTowards a Practical Object Constraint Programming Tool _Prof. Dr. Robert Hirschfeld, Tim Felgentreff_

Winter term 2014/15
:    Master's Thesis: Maria Graber - Specifying and Solving Logic Puzzles with Babelsberg/S _Prof. Dr. Robert Hirschfeld, Tim Felgentreff_
:    Master's Thesis: Anton Gulenko - Allocation Removal in Modern Object Oriented VMs _Prof. Dr. Robert Hirschfeld, Tim Felgentreff_
:    Bachelor's Project: Example-driven Exploration in Dynamically-typed Programming Environments _Prof. Dr. Robert Hirschfeld, Marcel Taeumel, Jens Lincke, Tim Felgentreff_
:    Ausgewählte Programmiersprachkonzepte _Prof. Dr. Robert Hirschfeld, Marcel Taeumel, Tobias Pape, Tim Felgentreff_
:    Softwarearchitektur _Prof. Dr. Robert Hirschfeld, Tobias Pape, Marcel Taeumel, Dr. Michael Perscheid, Jens Lincke, Tim Felgentreff_
:    Kontextorientiertes Programmieren _Prof. Dr. Robert Hirschfeld, Jens Lincke, Marcel Taeumel, Tobias Pape, Tim Felgentreff_
:    Virtuelle Maschinen und Ausführungsumgebungen _Prof. Dr. Robert Hirschfeld, Tim Felgentreff, Tobias Pape_
:    Modulsysteme _Prof. Dr. Robert Hirschfeld, Tim Felgentreff, Jens Lincke, Marcel Taeumel, Tobias Pape_

Summer term 2014
:    Master's Thesis: Philipp Tessenow - Extending a Dynamic Programming Language and Runtime Environment with Access Control _Prof. Dr. Robert Hirschfeld, Gilad Bracha (ext), Tim Felgentreff_
:    Master's Project: Software Transactional Memory for RSqueak/VM _Prof. Dr. Robert Hirschfeld, Tim Felgentreff, Tobias Pape_
:    Virtuelle Maschinen und Ausführungsumgebungen _Prof. Dr. Robert Hirschfeld, Tim Felgentreff, Tobias Pape_
:    Constraint-basierte Programmierung _Prof. Dr. Robert Hirschfeld, Tim Felgentreff_

Winter term 2013/14
:    Master's Thesis: Lars Wassermann - Tracing Algorithmic Primitives in R/SqueakVM _Prof. Dr. Robert Hirschfeld, Tim Felgentreff_
:    Bachelor's Project: ecoControl: Entwurf und Implementierung einer Software zur Optimierung heterogener Energiesysteme in Mehrfamilienhäusern _Prof. Dr. Robert Hirschfeld, Tim Felgentreff, Jens Lincke, Marcel Taeumel_
:    Einführung in die Programmiertechnik I _Prof. Dr. Robert Hirschfeld, Marcel Taeumel, Tim Felgentreff, Tobias Pape_
:    Softwarearchitektur _Prof. Dr. Robert Hirschfeld, Prof. Dr. Robert Hirschfeld, Bastian Steinert, Marcel Taeumel, Tim Felgentreff, Tobias Pape_
:    Virtuelle Maschinen und Ausführungsumgebungen _Prof. Dr. Robert Hirschfeld, Bastian Steinert, Tim Felgentreff, Tobias Pape_

Summer term 2013
:    Interactive Representations of Data Structures and Algorithms _Prof. Dr. Robert Hirschfeld, Jens Lincke, Marcel Taeumel, Tim Felgentreff_

Winter term 2012/13
:    Bachelor's project: MagLev – Object Persistence with Ruby and Smalltalk _Prof. Dr. Robert Hirschfeld, Tim Felgentreff, Tobias Pape_
:    Software-Architektur _Prof. Dr. Robert Hirschfeld, Jens Lincke, Dr. Michael Perscheid, Marcel Taeumel, Tim Felgentreff_
:    Modulsysteme _Prof. Dr. Robert Hirschfeld, Bastian Steinert, Marcel Taeumel, Tim Felgentreff_

Skills
------

&nbsp;
:    

    Languages
	  ~ German - native proficiency
	  ~ English - full professional proficiency
	  ~ French - limited working proficiency
	  ~ Mandarin - rudimentary knowledge
	  ~ &nbsp;

    Open Source Projects
	  ~ [Babelsberg](https://github.com/babelsberg) - a family of object-constraint languages 
	  ~ [RSqueakVM](https://github.com/HPI-SWA-Lab/RSqueak) - a research Squeak/Smalltalk VM written in RPython
	  ~ [Python on GraalVM](https://github.com/graalvm/graalpython) - an implementation of Python 3 for the GraalVM
	  ~ [TruffleSqueak](https://github.com/hpi-swa/trufflesqueak) - a research Squeak/Smalltalk VM on the GraalVM
	  ~ [Squeak](http://squeak.org) - a modern implementation of Smalltalk-80
	  ~ [JRuby](https://github.com/jruby) - an industry-grade Ruby implementation on the JVM
	  ~ [Topaz](https://github.com/topazproject) - an experimental Ruby implementation written in RPython 
	  ~ [MagLev](https://github.com/maglev) - a Ruby implementation on top of the GemStone/S object-database
	  ~ [PyPy](https://bitbucket.org/pypy) - a fast Python implementation with a tracing just-in-time compiler
	  ~ [Lively Kernel](https://github.com/LivelyKernel) - a self-supporting development environment on a Web page
	  ~ [Stratagus](https://github.com/Wargus) - a real-time 2d strategy game engine

    Invited Talks and Interviews
	  ~ ESUG 2016 - "Presenting Etoys 6"
	  ~ ESUG 2016 - "RSqueak/VM Tutorial"
	  ~ rbb "Brandenburg aktuell" Jan 2016  - Programmieren für Kinder
	  ~ Deutschlandfunk "Computer und Kommunikation", Jun 2014  - "Babelsberg - Eine neue Programmiersprache"
	  ~ PNN, Jun 2014 - "Der Babelsberg-Code"
	  ~ CRAFT 2014 - "Babelsberg - Modularizing Constraint Satisfaction in Imperative Programs"
	  ~ Wroclove.rb 2013 - "Topaz Ruby"
	  ~ Workshop on Context-Oriented Programming 2013 - "A Tool Building Example: Layers as Source Code Packages"
	  ~ Portland Ruby Brigade, Sep 2011 - "Debugging on Steroids - what Ruby should learn from Smalltalk"
	  ~ Ruby User Group - Berlin, Oct 2011 - "Building the fastest Ruby yet"
	  ~ RubyConf 2010 - "C-extensions for JRuby"
	  ~ JaX 2010 - "Versionskontrolle: Zentral oder Verteilt?"

Scientific Community Participation
----------------------------------

&nbsp;
:    


    PC Member
	  ~ ECOOP 2020
	  ~ Programming Experience Workshop 2020
	  ~ Onward! 2019
	  ~ Workshop on Reactive and Event-based Languages & Systems (REBLS) 2016, 2017, 2019
	  ~ Implementation, Compilation, Optimization of Object-Oriented Languages, Programs and Systems Workshop 2016, 2017, 2019
	  ~ Modularity! Student Research Competition 2016
	  ~ Workshop on Dynamic Languages and Applications 2014
	  ~ SPLASH Artifact Evaluation Committee 2014

    Organizer, PC- or SC-Chair
	  ~ Dynamic Languages Symposium 2018, 2019, 2020
	  ~ Implementation, Compilation, Optimization of Object-Oriented Languages, Programs and Systems Workshop 2018
	  ~ Constrained and Reactive Objects Workshop 2016

    Reviewer
	  ~ ECOOP 2018
	  ~ &lt;Programming&gt; 2017, 2018
	  ~ Programming Experience Workshop 2017
	  ~ Workshop on Meta-Programming Techniques and Reflection 2016
	  ~ Object-Oriented Programming Languages and Systems @ SAC 2015, 2016
	  ~ Dynamic Languages Symposium 2014, 2015, 2016
	  ~ GI-IT 2014
	  ~ Onward! 2014
	  ~ Symposium on Open Collaboration 2014


Publications
------------

> The documents provided here are included by me as contributing author as a
> means to ensure access to the work for personal, non-commercial use.  They are
> not for redistribution. These are the author versions of the papers, the
> definitive versions are published in the relevant proceedings. Copyright and
> all rights therein are maintained by the authors or by other copyright
> holders, notwithstanding that they have offered their works here
> electronically. It is understood that all persons copying this information
> will adhere to the terms and constraints invoked by each author's
> copyright. These works may not be reposted without the explicit permission of
> the copyright holder.

&nbsp;
