%header
  The works on this page by Tim Felgentreff and others are here published with
  %strong{:rel => "license"}
    All rights reserved.

%section.content
  %ul
    %li
      %a{:href => "/public/uni/12FelgSDContinuations.pdf"} Continuations
      (Presentation, Software Design Seminar, also on
      %a{:href => "http://www.slideshare.net/timfelgentreff/12felgsdcontinuations-12655083"} Slideshare
      )
    %li
      %a{:href => "/public/uni/10NewspeakInDy.pdf"} Newspeak Dispatch
      on the JVM Using InvokeDynamic
      (Presentation, Metaprogramming Seminar, Konstantin Haase and Tim Felgentreff, also on
      %a{:href => "http://www.slideshare.net/timfelgentreff/newspeak-dispatch-on-the-jvm-using-invokedynamic"} Slideshare
      )
    %li
      %a{:href => "/public/presentations/FelgWrocloveTopaz.pdf"} Topaz Ruby presented at wroc_love.rb 2013
      (
      %a{:href => "http://www.slideshare.net/timfelgentreff/wroclove"} Slideshare,
      %a{:href => "http://lanyrd.com/2013/wrocloverb/"} Lanyrd
      )

%section.comments
  / I both love and hate disqus
