%header
  The works on this page by Tim Felgentreff and others are here published with
  %strong{:rel => "license"}
    All rights reserved.

%section.content
  %ul
    %li
      %a{:href => "/uni/12FelgentreffTessenowThamsenObjectGroups.pdf"} Lively Object Groups
      Shared Behavior in a World of Objects (Philipp Tessenow, Lauritz Thamsen, Tim Felgentreff)
    %li
      %a{:href => "/uni/12FelgSDContinuations.pdf"} Continuations
      (Presentation, Software Design Seminar, also on
      %a{:href => "http://www.slideshare.net/timfelgentreff/12felgsdcontinuations-12655083"} Slideshare
      )
    %li
      %a{:href => "/uni/11FelgEUDTracing.pdf"} Online Object Tracing  
    %li
      %a{:href => "/uni/10FelgPapeLiveMigration.pdf"} Live VM Migration
      (Tobias Pape, Tim Felgentreff - in German)
    %li
      %a{:href => "/uni/10NewspeakInDy.pdf"} Newspeak Dispatch
      on the JVM Using InvokeDynamic (Presentation, Metaprogramming Seminar,
      Konstantin Haase and Tim Felgentreff, also on
      %a{:href => "http://www.slideshare.net/timfelgentreff/newspeak-dispatch-on-the-jvm-using-invokedynamic"} Slideshare
      )
    %li
      %a{:href => "/uni/10AspectToolsOrchideo.pdf"} Bachelor Thesis
      (Tim Felgentreff, Lysann Kessler, Christina Palm, Stephanie
      Platz, Frank Schlegel, Philipp Tessenow): Debug Tools for
      Orchideo - Debugging in an MDSD and Aspect-oriented Development
      Environment
    %li
      %a{:href => "/uni/09MaschFelgHadoop.pdf"} Similarity Join on Hadoop
      An Evaluation of the Hadoop Map/Reduce Environment (Andrina
      Mascher, Tim Felgentreff)

%section.comments
  / I both love and hate disqus
