%header
  The works on this page by Tim Felgentreff and others are here published with
  %strong{:rel => "license"}
    All rights reserved.

%section.content
  %ul
    %li
      %a{:href => "/uni/11FelgEUDTracing.pdf"} Online Object Tracing

%section.comments
  / I both love and hate disqus
