%header
  The works on this page by Tim Felgentreff and others are here published with
  %strong{:rel => "license"}
    All rights reserved.

%section.content
  %ul
    %li
      %a{:href => "/uni/11FelgEUDTracing.pdf"} Online Object Tracing  
    %li
      %a{:href => "/uni/12FelgSDContinuations.pdf"} Continuations
      (Presentation, Software Design Seminar, also on
      %a{:href => "http://www.slideshare.net/timfelgentreff/12felgsdcontinuations"} Slideshare
      )

%section.comments
  / I both love and hate disqus
